extends layout

block head  
    title Atelier

block content  
    |<!-- loading layer -->
    |<div id="loading-icon">
    |    <div class="center">
    |    	<i class="fa fa-spinner pulse animated infinite"></i><br>
    |        <span>Loading</span>
    |    </div>
    |</div>
    |<!-- end loading layer -->
    |<!-- app -->
    |		<div class="col-3">
    |			<ul class="slideshow-vertical">
    |			</ul>
    |		</div>
    |		<div class="col-3">
    |			<ul class="slideshow-vertical">
    |			</ul>
    |		</div>
    |		<div class="col-3 hidden-table hidden-phone">
    |			<ul class="slideshow-vertical"></ul>
    |		</div>
    |		<div class="col-3 hidden-phone hidden-phone">
    |			<ul class="slideshow-vertical"></ul>
    |		</div>
    |<!-- end app -->
    |<!-- item image template -->
    |<script id="item-image-template" type="text/x-handlebars-template">
    |	<li>
    |		<a href="{{url}}">
    |			<div class="slide">
    |				<img src="{{imageUrl}}">
    |				<div class="information">
    |					<div class="info-contents">
    |						<p class="by">By: {{by}}</p>
    |						<h2>{{title}}</h2>
    |						<p>{{description}}<br></p>
    |					</div>
    |				</div>
    |			</div>
    |		</a>
    |	</li>
    |  </script>
    |<!-- end item image template -->
    |<!-- item video template -->
    |<script id="item-video-template" type="text/x-handlebars-template">
    |	<li>
    |		<a href="{{url}}"
    |		   data-thumbnail="{{videoThumbnail}}">
    |			<div class="slide video-slide"
    |				 data-thumbnail="{{videoThumbnail}}"
    |				 data-videopreview="{{videoPreview}}">
    |		   		<video class="vid" autoplay="" width="100%" heigh="auto" loop="">
    |		   			<source src="{{videoSource}}" type="video/mp4">
    |		   		</video>
    |				<div class="information">
    |					<div class="info-contents">
    |						<p class="by">By: {{by}}</p>
    |						<h2>{{title}}</h2>
    |						<p>{{description}}<br></p>
    |					</div>
    |				</div>
    |			</div>
    |		</a>
    |	</li>
    |</script>
    |<!-- end item video template -->
block append scripts
    |<!-- onload image feature -->
    |<script src="lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    |<!-- infinite scroll -->
    |<script src="lib/simplyscroll/js/jquery.simplyscroll.js"></script>
    |<!-- render template engine -->
    |<script src="lib/handlebars/handlebars-v2.0.0.js"></script>
    |<!-- app configuration -->
    |<script src="script/appConfig.js"></script>
    |<!-- app entry point -->
    |<script src="script/app.js"></script>
    |<!-- declarative animations library -->
    |<script src="http://anijs.github.io/lib/anijs/anijs-min.js"></script>