extends pages

block content  
    |<!-- app -->
    |<div class="span3 title">
    |    <p><strong>NEWS</strong></p>
    |</div>
    |<div class="span6 content">
    |  <p>
    |    Lorem ipsum dolor sit amet, te probatus honestatis sit, dictas eirmod neglegentur cu duo. Erroribus conceptam persequeris his ut, ex dicit appetere pri. Mei nisl elit no. Mei ex tation consul atomorum, noster expetendis ad usu. No mea ferri magna equidem, at copiosae insolens conclusionemque eam. Elit dolor dissentiet quo eu, probatus efficiendi efficiantur et mea.
    |  </p>
    |  <p>
    |    Lorem ipsum dolor sit amet, te probatus honestatis sit, dictas eirmod neglegentur cu duo. Erroribus conceptam persequeris his ut, ex dicit appetere pri. Mei nisl elit no. Mei ex tation consul atomorum, noster expetendis ad usu. No mea ferri magna equidem, at copiosae insolens conclusionemque eam. Elit dolor dissentiet quo eu, probatus efficiendi efficiantur et mea.
    |  </p>
    |</div>
    |<!-- end app -->
